<table>
  <tr>
    <td>
      <p><b>Camadas completadas</b> del <b><%= date %></b></p>
      <br>
      <table border="1">
        <tr>
          <td>ID</td>
          <td>Curso</td>
          <td>Cant. Estudiantes</td>
        </tr>
        <% _.each(camadas, function(val, i) { %>
          <tr>
            <td>
              <%= val.id %>
            </td>
            <td>
              <%= val.className %>
            </td>
            <td>
              <%= val.students %>
            </td>
          </tr>
          <%}); %>
      </table>
      <br>
      <p>Equipo de Coderhouse</p>
    </td>
  </tr>
</table>
