<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body style="padding:0;margin: 0;">
  <table>
    <tbody>
      <tr>
        <td>
          <p>
            Hola
            <%= studentName %>!
          </p>
          <p>
            Soy Chris, co-founder y CEO de Coderhouse. Te escribo para darte la bienvenida y comentarte que estar&eacute; a tu disposici&oacute;n durante todo el curso para asegurarme de que todos tus objetivos se cumplan y aclarar cualquier duda o inquietud que
            puedas llegar a tener.
          </p>
          <p>
            Para empezar con el proceso de on-boarding y nivelaci&oacute;n, te he creado una cuenta en <a href="http://coderhouse.io" target="_blank">coderhouse.io</a> donde podr&aacute;s acceder con tu correo elect&oacute;nico (el mismo con el que te
            anotaste al curso) y con la contrase&ntilde;a "coderhouse".
          </p>
          <p>
            Una vez dentro de la plataforma podr&aacute;s:
            <ul>
              <li>ver toda la informaci&oacute;n general de tu curso (fechas, horarios, profesor, lugar, etc)</li>
              <li>empezar con los ejercicios nivelatorios</li>
              <li>ver el programa del curso m&aacute;s en detalle</li>
              <li>y mucho m&aacute;s</li>
            </ul>
          </p>
          <p>
            Espero que tengas una excelente experiencia con nosotros y por favor no dudes en escribirme ante cualquier duda o pregunta.
          </p>
          <p>
            Saludos! =)
          </p>
          <br>
          <p>
            <img width="60px" src="http://res.cloudinary.com/hdsqazxtw/image/upload/v1472136280/chris-avatar_iybeqn.png" alt="Christian Pati&ntilde;o" />
            <br>
            <br>
            <b>Christian Pati&ntilde;o</b>
            <br> Co-founder & CEO
            <br> <a href="mailto:chris@coderhouse.com">chris@coderhouse.com</a>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</body>
